extends layout

block content
  h1= title
  each message in messages
    p date: #{message.added}
    p name: #{message.user}
    p message: #{message.text}

    br

  a(href=newURL.url+'') New Message
